body { background-color: #C41E3A }
header { text-align: center; font-size:30px; font-family: arial }
h3 {text-align: center; font-size:25px; font-family: arial }
p { text-align: center; font-size: 20px; font-family: Arial } 
ul { font-size: 20px; font-family: Arial }
ol { font-size: 20px; font-family: Arial }
img {
  width: 50%;
  border-radius: 8px;
  display: block;
  margin: auto;
}
.white {
  color: white;
}
.yellow {
  color: #FFFFA8;
}

#bold {
  font-weight: bold;
}
#italics { font-style:italic
}
.left{ 
    text-align:left }
#header{
    text-align:center ;
    background-color: white ;
    border: 1px solid white ;
    padding: 20px
}
#footer{
    padding: 25px ;;
    font-size: 15px ;
    color: white
}
#equipment_picture_box{
    display:flex;
    gap: 20px
}
#equipment{
    flex: 1
}
#picture{
    flex: 2
}